<!-- This template can be used as a starting point for each day to quickly just get going -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="../../static/bootstrap.min.css" rel="stylesheet">

    <title>Day 1</title>
  </head>
  <body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
          <a href="https://adventofcode.com/2023/day/1" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Advent of Code 2023 - Day 1</span>
          </a>
        </header>
        <main>
            <h5>Brief Summary</h5>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.

        </main>
      </div>

    <!-- Bootstrap JS Bundle -->
    <script src="../../static/bootstrap.bundle.min.js"></script>
    <!-- Local isntance of P5js -->
    <script src="../../static/p5.min.js"></script>
    <!-- JS main entry Point -->
    <!-- <script src="day_1.js"></script> -->
  </body>
</html>